<!-- Navbar -->
<nav>
  <a href="#" class="logo">Meals <span>Easy</span></a>
  <ul>
    <li><a href="/" class="active">HOME</a></li>
    <li><a href="/login">Login</a></li>
    <li>
      <a aria-current="page" href="/shoppingCart/">Shopping Cart
        <span class="badge">{{session.cart.totalQty}}</span>
      </a>
    </li>
  </ul>
</nav>